<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="back-arrow">
      <%= link_to "javascript:history.back()" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #253343;"></i>
      <% end %>
    </div>

    <button class="navbar-toggler btn-log" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-xl" style="color: #253343;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-auto">
        <li class="nav-item custom-nav-item">
          <%= link_to "Editar perfil", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item custom-nav-item">
          <%= link_to "Sair", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
        </li>
      </ul>
    </div>
  </div>
</div>
